*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;
  --tt-heading:#0c3440;

  --tt-Label:#004534;
  --tt-input:#212039;
  --ot-input:#027390;
  --bd-input:rgba(73,80,87,0.2);
  --tt-placeHolder:rgba(73,80,87,0.5);
  --bg-input:#dce2e9;
  --tt-button:white;
  --bg-button:#02979d;
  --bg-buttonHover:#005255;


  --bg-error:#f03e3e;
  --tt-error:white;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #040924;
}
body,input,button{
  font-size: 1.6rem;

}
.container{
  display: grid;
  height: 100vh;
  place-content: center;
}
.card{
  background-color: white;
  padding: 4.8rem 6.4rem 6.4rem;
  max-width: 42.8rem;
  margin: auto;
  margin-top: -10rem;
  box-shadow: 0 .2rem .4re, rgba(0,0,0,0.1);
  border-radius: 0.6rem;
}
.title{
  font-size: 3.2rem;
  line-height: 4rem;
  color: var(--tt-heading);
  
}
form{
  width: 32rem;
}
form h1{
  margin-bottom: 3.2rem;
}
form input{
  width: 100%;
  border: 1px solid var(--bd-input);
  background-color: var(--bg-input);
  padding: 1.6rem;
  border-radius: .4rem;
}
form input:focus{
  outline: 2px solid var(--ot-input);
}
form input::placeholder{
  color: var(--tt-placeHolder);
}
form label{
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--tt-Label);
  margin-bottom: .8rem;
  display: block;
}
.wrapper + .wrapper{
  margin-top: 1.6rem;
}
form button{
  margin-top: 3.2rem;
  padding: 1.6rem;
  width: 100%;
  border: none;
  background-color: var(--bg-button);
  color: var(--tt-button);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  font-weight: 700;
  border-radius: .4rem;
  line-height: 2.0rem;
  cursor: pointer;
  transition: background .3s;
}
form button:hover{
  background-color: var(--bg-buttonHover);
}
.modal-wrapper.open{
  opacity: 1;
  visibility: visible;
}
.modal-wrapper{
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: grid;
  place-content: center;
  opacity: 0;
  visibility: hidden;
}

.modal{
  position: relative;
}
.modal button{
  background-color: none;
  border: none;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  cursor: pointer;
  transition: trasform .3s;
}
.modal button:hover{
  transform: scale(1.1);
}
.alert-error.show{
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}
.alert-error{
  position: absolute;
  background-color: var(--bg-error);
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--tt-error);
  padding: .8rem 0;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-3.6rem);
  transition: transform .5s;
}
.alert-error.close{
  transform: translateY(-3.6rem);
  transition: transform .5s;
}
